.u-section-1 {
  min-height: 640px;
}

.u-section-1 .u-sheet-1 {
  min-height: 1010px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 100px auto 100px 0;
}

.u-section-1 .u-image-1 {
  min-height: 405px;
  background-image: url("images/db576386adc2a4e10001fb554ecc711d96631c85da272e174a40f6679de3d5fd82fccfb804695f0d9706fa2dc021c74df39c8bc6e5bf851499e081_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 405px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.125rem;
  margin: 53px 106px 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-image-2 {
  min-height: 405px;
  background-image: url("images/e04c7ba48c944ab8cd70d2d105904458b0fbb72f751d12e9d57c070aca3708b0f3eaf5c463bbdd5385e68ad699a82725b4ac71b05cf3cf43906720_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 405px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-4 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.125rem;
  margin: 53px 96px 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-image-3 {
  min-height: 405px;
  background-image: url("images/f50fb4035867968597587afcc0292ea186a558f6dfbeb6e813c62903288c116b183d4c32c1c11e3b1d2ace063fc8c839aab183c2c5489b31937ce5_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 405px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-text-7 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.125rem;
  margin: 53px 81px 0;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  margin: 20px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 640px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    min-height: 334px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 334px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 73px;
    margin-right: 73px;
  }

  .u-section-1 .u-image-2 {
    min-height: 334px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 334px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 63px;
    margin-right: 63px;
  }

  .u-section-1 .u-image-3 {
    min-height: 334px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 334px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 48px;
    margin-right: 48px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 562px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 562px;
  }

  .u-section-1 .u-image-1 {
    min-height: 256px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 36px;
    margin-right: 36px;
  }

  .u-section-1 .u-image-2 {
    min-height: 256px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-1 .u-image-3 {
    min-height: 256px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 11px;
    margin-right: 11px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 1446px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1446px;
  }

  .u-section-1 .u-image-1 {
    min-height: 576px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    min-height: 576px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    min-height: 576px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 1026px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1026px;
  }

  .u-section-1 .u-image-1 {
    min-height: 363px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    min-height: 363px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    min-height: 363px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 660px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 60px auto 23px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 540px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 80px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 38px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  margin: 56px auto 0 0;
  padding: 0;
}

.u-section-2 .u-image-1 {
  min-height: 540px;
  background-image: url("images/pexels-photo-55916631.jpeg");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 575px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 697px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 445px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-2 .u-image-1 {
    min-height: 445px;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 440px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-1 {
    min-height: 341px;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 763px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 763px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 1px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    min-height: 512px;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 795px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 795px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 322px;
  }
}